
body {
    margin: 0;
    padding: 0;

}
.nav{

    background-color:aliceblue;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
    padding: 10px 20px;
    height: 50px;
    margin-top:- 10;
   

    
}
.logo{
    height: 70px;
    
}
.ul{
    display: flex;
    justify-content: flex-end;
    
  
    list-style: none;
    margin: 0;
    padding: 0;
    
    
   
}
.ul li{
    margin-left: 1cm;
   
   
   
   


}
ul a{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
   
  
    
   
}
a:hover{
    background-color: cornsilk;
}
.button{
    background-color: rgb(213, 231, 231);
    color: black;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 10px;

}
.main-content{
    background-image: url(img/Shop.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content {
    background-color: transparent;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
}


